<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Mihir">
    <meta name="description" content="FellowFarmer Updated">
    <meta name="keywords" content="">

    <title>Fellow Farmer Marketplace | Website</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="public/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
  </head>

  <body>

    <header>
           <section id="showcase">
           <div class="container">
             <div id="branding">
                <a href="main.html"><img src="images/logo.jpg" width="100" height="61"/></a>
             </div>
             <nav>
               <ul>
                 <ul>
                   <li><a href="main.html">Newsfeed</a></li>
                   <li><a href="main.html">About</a></li>
                   <li><a href="main.html">Contact Us</a></li>
                   <li><a href="main.html">LogOut</a></li>
                 </ul>
               </ul>
             </nav>
          </div>

           <h1>Marketplace</h1>
           <div class="row">
             <div class="col-sm-6">
               <div class="card">
                 <img src="images/wheat.jpg">
                 <h1>Wheat</h1>
                 <p style="color:white;">Price : Rs. </p>
                 <p style="color:white;">Quantity :  </p>
               </div>
             </div>

           <div class="col-sm-6">
             <div class="card">
               <img src="images/maize.jpg">
               <h1>Maize</h1>
               <p style="color:white;">Price : Rs. </p>
               <p style="color:white;">Quantity :  </p>
             </div>
           </div>

         </div>
         </section>
     </header>

          <!--<section id="about">
            <div class="container">
             <h1>About</h1>
             <p>This is fellow farmer. A site where farmers can make their lives easier.</p>
             </div>
          </section>

          <section id="contact">
            <div class="container">
              <h1>Contact Us</h1>
             </div>
          </section>-->

  </body>
</html>
